# [submodule "themes/LoveIt"]
# 	path = themes/LoveIt
# 	url = https://github.com/dillonzq/LoveIt.git

[submodule "demo/work-note"]
	path = demo/work-note
	url = https://github.com/JunIce/work-note.git
