{{ define "main" }}

<section id="single" class="text-lg font-semibold">
    <h1 class="title">{{ .Title }}</h1>

    <div class="tip">
        Published: <time datetime="{{ .PublishDate }}">{{ $.Page.PublishDate.Format "January 02, 2006" }}</time>
        <span class="split">
          ·
        </span>
        LastMod: {{ $.Page.Lastmod.Format "January 02, 2006" }}
        <span class="split">
          ·
        </span>
        <span>
          {{ i18n "wordCount" . }}
        </span>
    </div>

    
    {{ if or .Site.Params.showToc .Params.showToc }}
        {{ partial "toc.html" . }}
    {{ end }}


    <div class="content">
      {{ .Content }}
    </div>

    {{ with .Params.tags }}
        <div class="tags">
            {{ range . }}
                <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
    {{ end}}
    
    <!-- {{ partial "comment.html" . }} -->

</section>

{{ end }}

