{{ define "main" }}
<!-- {{ partial "profile.html" . }} -->

{{- $taxonomies := .Data.Plural -}}
{{- $terms := .Data.Terms.ByCount -}}
{{- $type := .Type -}}

{{- if eq $taxonomies "categories" -}}
<div class="categories-card">
    {{- range $terms -}}
    {{- $term := .Term -}}
    {{- $pages := .Pages -}}
    {{- with $.Site.GetPage "taxonomy" (printf "%v/%v" $type $term) -}}
    <div class="card-item">
        <div class="card-item-wrapper">
            <h3 class="card-item-title">
                <a href="{{ .RelPermalink }}">
                    <i class="far fa-folder fa-fw" aria-hidden="true"></i>&nbsp;{{ .Page.Title | upper }}
                </a>
            </h3>
            {{- range first 5 $pages -}}
            <article class="archive-item">
                <a href="{{ .RelPermalink }}" class="archive-item-link">
                    {{- .Title -}}
                </a>
            </article>
            {{- end -}}
            {{- if gt (len $pages) 5 -}}
            <span class="more-post">
                <a href="{{ .RelPermalink }}" class="more-single-link">{{ T "more" }} >></a>
            </span>
            {{- end -}}
        </div>
    </div>
    {{- end -}}
    {{- end -}}
</div>

{{- /* Tag Cloud Page */ -}}
{{- else if eq $taxonomies "tags" -}}
<section id="tags" class="w-3/4 m-auto flex flex-wrap">
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms.ByCount }}
    {{ if ($value.Name) }}
    <div class="px-2 py-1 bg-slate-100 text-gray-700 rounded-sm text-sm hover:shadow-lg mb-2 mr-2">
        <a href="{{ "tags/" | relURL }}{{ $value.Name | urlize }}">
            {{ $value.Name }} <span>({{ $value.Count }})</span>
        </a>
    </div>
    {{ end }}
    {{ end }}
</section>
{{- end -}}


{{ end }}