{{ define "main" }}
<!-- {{ partial "profile.html" . }} -->

{{- $taxonomies := .Data.Plural -}}
{{- $terms := .Data.Terms.ByCount -}}
{{- $type := .Type -}}

{{- if eq $taxonomies "categories" -}}
<div class="w-4/5 mx-auto">
    <div class="grid grid-cols-3 gap-4 gap-y-6">
        {{- range $terms -}}
        {{- $term := .Term -}}
        {{- $pages := .Pages -}}
        {{- with $.Site.GetPage "taxonomy" (printf "%v/%v" $type $term) -}}
        <div class="w-full h-60 px-6 py-4 border-1 border-gray-200 rounded-md shadow-md hover:shadow-xl">
            <div class="card-item-wrapper">
                <h3 class="text-lg mb-2">
                    <a href="{{ .RelPermalink }}" class="text-lg font-semibold hover:text-blue-800">
                        {{ .Page.Title | upper }}
                    </a>
                </h3>
                {{- range first 5 $pages -}}
                <article class="mb-2">
                    <a href="{{ .RelPermalink }}" class="text-base hover:text-blue-600">
                        {{- .Title -}}
                    </a>
                </article>
                {{- end -}}
                <!-- {{- if gt (len $pages) 5 -}}
                <span class="more-post">
                    <a href="{{ .RelPermalink }}" class="more-single-link">{{ T "more" }} >></a>
                </span>
                {{- end -}} -->
            </div>
        </div>
        {{- end -}}
        {{- end -}}
    </div>
</div>

{{- /* Tag Cloud Page */ -}}
{{- else if eq $taxonomies "tags" -}}
<section id="tags" class="w-3/4 m-auto flex flex-wrap">
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms.ByCount }}
    {{ if ($value.Name) }}
    <div class="px-2 py-1 bg-slate-100 text-gray-700 rounded-sm text-sm hover:shadow-lg hover:scale-150 mb-2 mr-2">
        <a href="{{ "tags/" | relURL }}{{ $value.Name | urlize }}">
            {{ $value.Name }} <span>({{ $value.Count }})</span>
        </a>
    </div>
    {{ end }}
    {{ end }}
</section>
{{- end -}}


{{ end }}