.search-form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  position: relative;
  height: 2.834rem;
  border: 1px solid #c2c8d1;
  transition: width 0.2s;
  .search-input {
    border: none;
    width: calc(100% - 44px);
    padding: 0.6rem 0 0.6rem 1rem;
    box-shadow: none;
    outline: none;
    font-size: 1.1rem;
    color: #8a919f;
    background-color: transparent;
    transition: width 0.3s;
  }
  .search-icon-container {
    position: relative;
    left: -2px;
    width: 44px;
    height: 30px;
    background: var(#f2f3f5);
    border-radius: 2px;
  }
  .search-icon {
    display: inline-block;
    width: 1.33rem;
    padding: 0 .8333rem 0 0;
    cursor: pointer;
    margin: 7px 15px;
  }
}
