<footer id="footer" class="flex pt-6 pb-20 justify-center items-center">

    <div class="copyright mr-4 ml-4">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       © Copyright 
       {{ now.Format "2006"}} 
       <span class="split">
        {{ partial "svgs/heart.svg" (dict "fill" "#bbbbbb" "width" 15 "height" 15 ) }}
       </span>
       {{ .Site.Params.Author }}
    {{ end }}
    </div>

    {{ if ne .Site.Params.showPowerBy false }}
      <div class="powerby">
        {{ i18n "poweredBy" | safeHTML }}
      </div>
    {{ end }}
</footer>

{{ partial "search-pattern.html" . }}

{{ range .Site.Params.customJS }}
    {{ if ( or ( hasPrefix . "http://" ) ( hasPrefix . "https://" ) ) }}
        <!-- remote js -->
        <script src="{{ . }}"></script>
    {{ else }}
        <!-- local js -->
        <script src="{{ $.Site.BaseURL }}{{ . }}"></script>
    {{ end }}
{{ end }}

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script> -->

{{ $jsTemplate := resources.Get "js/search-doc.js" -}}
{{ $js1 := $jsTemplate | resources.ExecuteAsTemplate "search-doc.js" . | minify | fingerprint }}
<script src="{{ $js1.Permalink }}" defer></script>

{{ $js := resources.Get "js/custom.js" | minify | fingerprint }}
<script src="{{ $js.Permalink }}" defer></script>
