<form role="search" class="search-form isResourceVisible">
    <input type="search" maxlength="32" placeholder="探索" value="" class="search-input isResourceVisible">
    <div class="seach-icon-container"><img
            src="//lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/1e8ab9a22f0ddc36349f60b38900d0bd.svg" alt="搜索"
            class="search-icon"></div>
    <div class="typehead" style="display:none;">
        <div class="title"><span>搜索历史</span> <span class="clear">
                清空
            </span></div>
        <div class="list"></div>
    </div>
</form>